
.hotel ,.room, .inner, .control{
    display: flex;    
}

.hotel, .room, .inner{
    flex-direction: column;
}

.room{
    border:3px solid grey;
    border-radius:3px;
    align-self:center;
    width:50%;
    padding:20px;
    margin:5px;  
    background-color: floralwhite
}

header {
    height: 80px;
    background-color: rgb(19, 42, 78);   
}

.hotel {
    font-size: 15px;
    margin:30px;
}

.padding{
    padding:10px;
}

.control{
    align-self:flex-end;
}

#book{
    width:80px;
}

.row {
    word-wrap: break-word;
}

.descriptor{
    color:navy
}


@media (min-width: 768px){
    #book {
        width: 200px;
    }
}
