#hotel-img{
    width:300px;
    height:230px;
}

#ex1Slider .slider-selection {
    background: #337ab7;
}

#load {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;            
}

